In [1]:
import pandas as pd

list，dict 和 DataFrame 互转

In [2]:
_dict = [
    {
        "field1":10,"field2":20
    },
    {
          "field1":10,"field2":20
    }
]
pd.DataFrame(_dict)

   field1  field2
0      10      20
1      10      20

In [3]:
_dict ={ 
    "key1":{
        "field1":10,"field2":20
    },
    "key2":{
          "field1":20,"field2":30
    }
}
df=pd.DataFrame(_dict)
df

        key1  key2
field1    10    20
field2    20    30

In [16]:
df =df.T
df

        key1  key2
field1    10    20
field2    20    30

In [14]:
df.to_dict()

{'key1': {'field1': 10, 'field2': 20}, 'key2': {'field1': 20, 'field2': 30}}

In [5]:
df.T.sort_values(by='field1',ascending=False)

      field1  field2
key2      20      30
key1      10      20

In [6]:
df.drop(['field2'],axis=0)

        key1  key2
field1    10    20

In [7]:
df.drop(columns=['key1'])

        key2
field1    20
field2    30

In [12]:
df.loc['field1':"field2",['key1','key2']]

        key1  key2
field1    10    20
field2    20    30